# Exercises:

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

Add three rows to your table that are your planned makes.

## Update a Row

Change different values in one of your three rows.

## Delete a Row

Delete one of the rows from your table.

## Drop the Table

While this has been fun, it is time to drop the table!